
      <nav class="navbar navbar-expand-lg navbar-dark  sticky-top circle" style="background-color:rgb(53, 125, 219)">
          <a class="navbar-brand" href="#"><img src="assets/img/logo.jpg" width="60" alt="" style="position:absolute"/></a></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/products">Products</a>
                  </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/project">Projects</a>
                </li>
                  <li class="nav-item ">
                      <a class="nav-link " href="/contact">Contact</a>
                  </li>

             
          </div>
        </nav>
    
    <section id="header">

    </section>
    <div id="about-us">
        <div class="container">
               <div class="row">
                  <div class="col-md-3">
                      <h1 class="text-center">About Us</h1>
              </div>
               </div>
                <br>
                <div class="row">
                   <div class="col-md-2">
                       <div class="hovereffect">
                           <img class="img-responsive" src="assets/img/brochure.jpg" alt="">
                           <div class="overlay">
                               <h2>BROCHURE</h2>
                               <a class="info" href="assets/img/brochure.jpg" download="">Download</a>
                           </div>
                       </div>
                   </div>
                    <div class="col-md-10">
                        <p class="about-us wow fadeInUp">
                            Founded in 1995, MEC is an environmental Engineering Company with
                            the specialization in water and Waste Water management (STP, ETP),
                            particularly for healthcare, hospitality, education, commercial,
                            residential, and industrial pollution control. Headquarter in
                            Kayamkulam on the major towns in between Cochin and Trivandrum of
                            Kerala. MEC comprises of a team of highly experienced and dynamic
                            experts from various disciplines of science and technology work
                            together for a common cause of perfect completion of the projects in
                            time. And excellent blend of people technology and entrenurpership
                            gives an incomparable consistency, perfection and quality.
                        </p>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-6 infra">
                      <h3>INFRASTRUCTURE</h3>
                      <hr>
                      <p class="about-us wow fadeInUp">
                          <b>“Molecules Envirocare”</b>, Headquarter at Kayamkulam, a major town in between Cochin and Trivandrum of Kerala. MEC is a professionally managed company have perfect blend of people, technology and entrepreneurship.  Our efforts are led by a team of experts completely involved in R&D to design and develop We have all infrastructures including the latest machinery, equipments and tools for the fabrication, manufacturing and errection work in connection with water and waste water treatment plants. We have well experience professional experts completely involving in planning, designing, fabrication etc... A team of young and dynamic engineers with high intention and enthusiasm are round the clock alerted for providing the “best and in time” service for our esteemed customers, up to their satisfaction.
                      </p>
                  </div>
                  <div class="col-md-6 wow fadeInUp">
                    <img src="assets/img/infra.png" alt="Infra" class="about-infra img-fluid">
                  </div>
                </div>
<!--                <div class="row" style="margin-top:40px;">-->
<!--                    <div class="card wow fadeInUp" style="width: 18rem;">-->
<!--                         <div class="card-body with-bg">-->
<!--                          <h5 class="card-title" style="margin-top:40px;">Filtration Systems</h5>-->
<!--                        </div>-->
<!--                        <ul class="list-group list-group-flush">-->
<!--                          <li class="list-group-item">Pressure filters </li>-->
<!--                          <li class="list-group-item">Dual media filters</li>-->
<!--                          <li class="list-group-item">Activated carbon filters</li>-->
<!--                        </ul>-->
<!--                      </div>-->
<!--                      <div class="card wow fadeInUp" style="width: 18rem;">-->
<!--                          <div class="card-body with-bg">-->
<!--                           <h5 class="card-title">Membrane’s Based Systems</h5> -->
<!--                         </div>-->
<!--                         <ul class="list-group list-group-flush">-->
<!--                           <li class="list-group-item">Micro Filter </li>-->
<!--                           <li class="list-group-item">Ultra Filter</li>-->
<!--                           <li class="list-group-item">Nano Filter</li>-->
<!--                           <li class="list-group-item">High efficiency filter</li>-->
<!--                         </ul>-->
<!--                       </div>-->
<!--                       <div class="card wow fadeInUp" style="width: 18rem;">-->
<!--                          <div class="card-body with-bg">-->
<!--                           <h5 class="card-title">ION Exchange Resin Based System-->
<!--                            </h5> -->
<!--                         </div>-->
<!--                         <ul class="list-group list-group-flush">-->
<!--                           <li class="list-group-item">DM plant-->
<!--                            </li>-->
<!--                           <li class="list-group-item">Mixed bed plant, iron, arsenic, ammonia, fluoride, nitrite removing plant, etc.</li>-->
<!--                           <li class="list-group-item">De-salination plant-->
<!--                            </li>-->
<!--                         </ul>-->
<!--                       </div>-->
<!--                       <div class="card wow fadeInUp" style="width: 18rem;">-->
<!--                          <div class="card-body with-bg">-->
<!--                           <h5 class="card-title" style="margin-top:40px;">Equipments-->
<!--                            </h5> -->
<!--                         </div>-->
<!--                         <ul class="list-group list-group-flush">-->
<!--                           <li class="list-group-item">Clariflokatars-->
<!--                            </li>-->
<!--                           <li class="list-group-item">Various types of clarifiers & settlers-->
<!--                            </li>-->
<!--                           <li class="list-group-item">Bottled drinking waters</li>-->
<!--                           <li class="list-group-item">Multiple cartridges filter-->
<!--                            </li>-->
<!--                           <li class="list-group-item">UV system-->
<!--                            </li>-->
<!--                           <li class="list-group-item">Ozoniator-->
<!--                            </li>-->
<!--                         </ul>-->
<!--                       </div>-->
<!--                       <div class="card wow fadeInUp" style="width: 18rem;">-->
<!--                          <div class="card-body with-bg">-->
<!--                           <h5 class="card-title">Medias & Chemical</h5> -->
<!--                         </div>-->
<!--                         <ul class="list-group list-group-flush">-->
<!--                           <li class="list-group-item">Inorganic & organic ion removal plant, etc.-->
<!--                            </li>-->
<!--                           <li class="list-group-item">Filtration’s, medias</li>-->
<!--                           <li class="list-group-item">Activated carbon-->
<!--                            </li>-->
<!--                            <li class="list-group-item">Xeolite media-->
<!--                              </li>-->
<!--                            <li class="list-group-item">Decolorizes -->
<!--                              </li>-->
<!--                            <li class="list-group-item">Order removal</li>-->
<!--                            <li class="list-group-item">Fluckaters & coagulators & other water treatment chemicals</li>-->
<!--                         </ul>-->
<!--                       </div>-->
<!--                      -->
<!--                </div>-->
                <br>
                <br>
            <div class="row about-what" style="font-size:16px;">
                <p class="about-us">
                    A consortium of few experts from different discipline of science and technology joined hands to share their expertise in respective field. Outcome is the birth of MOLECULES ENVIRO CARE
                </p>
                <p class="about-us">
                    The goal is imparting their individual experience  to the core service of trouble shooting in addition to conceptual outburst in search of new horizon  .The motto of the company is transparency in cliental report. The team is strong believer of “you hear you forget,” “you see and you remember” but “you do and you register”. Thus our sincere effort is professional approach keeping in view the updated technology with a positive result orientation. With wide experience, perfect blend of people, technology and entrepreneurship, the company has developed core competencies in water- waste water treatment and solid waste   disposal. We are dedicated to high intention, sincere effort, intelligent direction and wise choice of many alternatives .We apply fact and data for achievement requisite effect. Any project is only successful, if it meet the requirement cost, schedule and quality. The entire process can be defined as a sequence of steps adopted in achieving the execution of task.
                </p>
                <p class="about-us">
                    In the event of criticality of the issues, in addition to our in house expertise we are associated with well acclaimed professional experts with proven track record.
                </p>

            </div>
            <h3>CHIEF CONSULTANT</h3>
            <div class="row about-what">

                <div class="col-md-3">
                    <img src="assets/img/mentor.png" alt="">
                </div>
                <div class="col-md-9">
                    <p class="about-us" style="font-size:16px;">
                        Mr. K P Mohandas ,an active retired environmental engineer from Kerala state pollution control board with a backup experience of 27 years in water –waste water management and the pollution control works. He is a diploma holder “COSTAL ZONE MANAGEMENT” from New castle university of U K. He was a keen person for the E I A evaluation    panel    of various projects like NTPC Kayamkulam.  Benamizinc LTD,   various transport projects of Kerala.  He was the consultant in design, constructions supervision rejection and commissioning of more than 25     E T P of various industries in Kerala.
                        He was an associate with environmental laboratories in the projects like common effluent treatment plant for small scale industries of EDAYAR industrial estate.  Sewage treatment plant of pump, Project formation of pump action plant etc. He was the consultant for Hindustan pre-fab ltd, a Govt of India enterprises for the STP projects of Alappuzha medical college {1.5MLD} , Kozhikode medical college 2MLD, Trissur medical college , Kottayam medical college3.2MLD and many other NRHM and BITS projects.

                    </p>
                </div>
            </div>
            <br><br>
            <h4>   THE TEAM GUIDE US TO SUCCESS
            </h4>
            <br>
            <br>
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Qualification</th>
                        <th scope="col">Status</th>
                        <th scope="col">Experience</th>
                        <th scope="col">Designation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>K.P.MOHANDAS</td>
                        <td>M.Tech Env.Eng.</td>
                        <td>Retd Env. Eng of KSPCB</td>
                        <td>37 yrs</td>
                        <td>Chief consultant</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>G .YASODHARAN</td>
                        <td>B.Tech Civil</td>
                        <td>Retd Env. Eng of KSPCB</td>
                        <td>32 yrs</td>
                        <td>Consultant</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>N.ANU</td>
                        <td>M.Tech,Phd Env. Eng</td>
                        <td>Asst. professor NIIT Palakkad</td>
                        <td>4 yrs</td>
                        <td>Consultant</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>P.T.THOMAS</td>
                        <td>B.Tech Civil Eng.</td>
                        <td>Retd Sup. Eng  PWD Kerala</td>
                        <td>31yrs</td>
                        <td>Consultant</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>RAJAGOPAL</td>
                        <td>B.Tech Civil Eng.</td>
                        <td>Retd Chief.Eng  Dvsm Board Kerala</td>
                        <td>28yrs</td>
                        <td>Consultant</td>
                    </tr>
                    </tbody>
                </table>
            </div>
                
        </div>
      </div>

    <section id="footer">
      <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-5 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Molecules Enviro Care</h5>
          <p class="footer-abt">Founded in 1995, MEC is an environmental Engineering Company with the specialization in water and Waste Water management (STP, ETP), particularly for healthcare, hospitality, education, commercial, residential, and industrial pollution control. Headquarter in Kayamkulam on the major towns in between Cochin and Trivandrum of Kerala.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
            <p><i class="fa fa-map-marker fa-1x"></i> MOLECULES ENVIROCARE, SUKUMARAM, NEAR PUTHUPPALLY NORTH UPS, PUTHUPPALLY P.O., KAYAMKULAM, ALAPPUZHA DIST., KERALA</p>
            <p><i class="fa fa-phone fa-1x"></i> 0479 2479905, 9447792843</p>
    
          </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Go To</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">About</a>
            </li>
            <li>
              <a href="#!">Projects</a>
            </li>
            
            <li>
              <a href="#!">Contact</a>
            </li>
            <li>
              <a href="#!">FAQ</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-dribbble fa-2x"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://adityav.in"> Molecules Enviro Care</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
    </section>
 