
      <nav class="navbar navbar-expand-lg navbar-dark  sticky-top circle" style="background-color:rgb(53, 125, 219)">
          <a class="navbar-brand" href="#">Molecule Enviro Care</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/products">Projects</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link " href="/contact">Contact</a>
                  </li>

             
          </div>
        </nav>
    
    <section id="header">

    </section>
    <div id="about-us">
        <div class="container">
               <div class="row">
                  <div class="col-md-3">
                      <h1 class="text-center">About Us</h1>
              </div>
               </div>
                <br>
                <div class="row">
                    <p class="about-us wow fadeInUp">
                            Founded in 1995, MEC is an environmental Engineering Company with
                            the specialization in water and Waste Water management (STP, ETP),
                            particularly for healthcare, hospitality, education, commercial,
                            residential, and industrial pollution control. Headquarter in
                            Kayamkulam on the major towns in between Cochin and Trivandrum of
                            Kerala. MEC comprises of a team of highly experienced and dynamic
                            experts from various disciplines of science and technology work
                            together for a common cause of perfect completion of the projects in
                            time. And excellent blend of people technology and entrenurpership
                            gives an incomparable consistency, perfection and quality.
                    </p>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-6 infra">
                      <h3>INFRASTRUCTURE</h3>
                      <hr>
                      <p class="about-us wow fadeInUp">
                          MEC is having the corporate office at Sreepadam, opp. SBI, Puthiyadam, Kayamkulam situated in between Cochin and Trivandrum in Kerala State of India. The factory is located at puthupally about 3 km away from the office. We have all infrastructure including latest machines, equipments and tools for the fabrication and manufacturing of all kinds of water-waste-water, solid waste disposal and other pollution control equipments and plants. We have a team of well experienced professional experts in planning, designing, fabrication, erection, commissioning and administration. A team of young and dynamic engineers are round the clock active for providing, ‘in time service’ to our esteemed customer, up to their satisfaction.
    
                      </p>
                  </div>
                  <div class="col-md-6 wow fadeInUp">
                    <img src="assets/img/about-infra.jpg" alt="Infra" class="about-infra img-fluid">
                  </div>
                </div>
                <div class="row" style="margin-top:40px;">
                    <div class="card wow fadeInUp" style="width: 18rem;">
                         <div class="card-body with-bg">
                          <h5 class="card-title">Filtration Systems</h5> 
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Pressure filters </li>
                          <li class="list-group-item">Dual media filters</li>
                          <li class="list-group-item">Activated carbon filters</li>
                        </ul>
                      </div>
                      <div class="card wow fadeInUp" style="width: 18rem;">
                          <div class="card-body with-bg">
                           <h5 class="card-title">Membrane’s Based Systems</h5> 
                         </div>
                         <ul class="list-group list-group-flush">
                           <li class="list-group-item">Micro Filter </li>
                           <li class="list-group-item">Ultra Filter</li>
                           <li class="list-group-item">Nano Filter</li>
                           <li class="list-group-item">High efficiency filter</li>
                         </ul>
                       </div>
                       <div class="card wow fadeInUp" style="width: 18rem;">
                          <div class="card-body with-bg">
                           <h5 class="card-title">ION Exchange Resin Based System
                            </h5> 
                         </div>
                         <ul class="list-group list-group-flush">
                           <li class="list-group-item">DM plant
                            </li>
                           <li class="list-group-item">Mixed bed plant, iron, arsenic, ammonia, fluoride, nitrite removing plant, etc.</li>
                           <li class="list-group-item">De-salination plant
                            </li>
                         </ul>
                       </div>
                       <div class="card wow fadeInUp" style="width: 18rem;">
                          <div class="card-body with-bg">
                           <h5 class="card-title">Equipments
                            </h5> 
                         </div>
                         <ul class="list-group list-group-flush">
                           <li class="list-group-item">Clariflokatars
                            </li>
                           <li class="list-group-item">Various types of clarifiers & settlers
                            </li>
                           <li class="list-group-item">Bottled drinking waters</li>
                           <li class="list-group-item">Multiple cartridges filter
                            </li>
                           <li class="list-group-item">UV system
                            </li>
                           <li class="list-group-item">Ozoniator
                            </li>
                         </ul>
                       </div>
                       <div class="card wow fadeInUp" style="width: 18rem;">
                          <div class="card-body with-bg">
                           <h5 class="card-title">Medias & Chemical</h5> 
                         </div>
                         <ul class="list-group list-group-flush">
                           <li class="list-group-item">Inorganic & organic ion removal plant, etc.
                            </li>
                           <li class="list-group-item">Filtration’s, medias</li>
                           <li class="list-group-item">Activated carbon
                            </li>
                            <li class="list-group-item">Xeolite media
                              </li>
                            <li class="list-group-item">Decolorizes 
                              </li>
                            <li class="list-group-item">Order removal</li>
                            <li class="list-group-item">Fluckaters & coagulators & other water treatment chemicals</li>
                         </ul>
                       </div>
                      
                </div>
                <br>
                <br>
                
        </div>
      </div>
    <section id="footer">
      <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-5 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Molecule Enviro Care</h5>
          <p class="footer-abt">Founded in 1995, MEC is an environmental Engineering Company with the specialization in water and Waste Water management (STP, ETP), particularly for healthcare, hospitality, education, commercial, residential, and industrial pollution control. Headquarter in Kayamkulam on the major towns in between Cochin and Trivandrum of Kerala.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
            <p><i class="fa fa-map-marker fa-1x"></i> Sreepadam,Opp.S.B.I.,Puthiyidom,Kayamkulam, Alappuzha, Kerala 690502</p>
            <p><i class="fa fa-phone fa-1x"></i> +91 9567682232</p>
    
          </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Go To</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">About</a>
            </li>
            <li>
              <a href="#!">Projects</a>
            </li>
            
            <li>
              <a href="#!">Contact</a>
            </li>
            <li>
              <a href="#!">FAQ</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-dribbble fa-2x"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://adityav.in"> Molecule Enviro Care</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
    </section>
 