<html>
    <style>
        .btn{
            font-size:10px;
            margin:0;
        }
    </style>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/admin">Products </span></a>
                    <a class="nav-item nav-link" href="/admin/project">Projects</a>
                  
                  </div>
                </div>
              </nav>
              <br>
              <% include ./partials/messages %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-left:20px;">
                    Add Project
                  </button>
                  <br>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <form  method="POST" action= "/admin/addProject" id="projectform">
                                        <div class="form-group row">
                                          <div class="col-sm-12">
                                            <input type="text"  class="form-control" id="staticEmail" placeholder="Enter Title" name="title">
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                                <div class="col-sm-12">
                                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="content"></textarea>
                                                </div>
                                              </div>
                                       
                                        <div class="row">
                                                <div class="form-group col-md-3">
                                                        <label for="exampleFormControlFile1"> Image 1</label>
                                                        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image1" required>
                                            </div>
                                            <div class="form-group col-md-3">
                                                    <label for="exampleFormControlFile1"> Image 2</label>
                                                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image2">
                                            </div>
                                            <div class="form-group col-md-3">
                                                    <label for="exampleFormControlFile1"> Image 3</label>
                                                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image3">
                                             </div>
                                            <div class="form-group col-md-3">
                                                    <label for="exampleFormControlFile1"> Image 4</label>
                                                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image4">
                                            </div>
                                        </div>
                                      </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary"  onclick='document.getElementById("projectform").submit()' >Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
        <div class="container-fluid">
                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <%project.forEach((data, index)=>{%>
                          <tr>
                            <th scope="row"><%=index+1%></th>
                            <td><%=data.title%></td>
                            <td>
                                <a href="/admin/deleteProject/<%=data._id%>"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                                <!-- <button type="button" class="btn btn-info btn-sm">Edit</button> -->
                            </td>
                          </tr>
                          <%})%>
                        </tbody>
                      </table>
        </div>
</html>