<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Molecules Enviro Care</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/animate.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css" />
    <link rel="stylesheet" href="./css/owl.theme.green.min.css" />
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark  sticky-top circle" style="background-color:rgb(53, 125, 219)">
          <a class="navbar-brand" href="#">Molecule Enviro Care</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="index.html">Home </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="about.html">About <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="products.html">Projects</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="contact.html">Contact</a>
                  </li>

             
          </div>
        </nav>
    
    <div id="content" >
        <div class="owl-carousel container project-image">
            <div>
                <img src="./img/about-infra.jpg" alt="">
            </div>
            <div>
                    <img src="./img/about-infra.jpg" alt="">
            </div>
            <div>
                    <img src="./img/about-infra.jpg" alt="">
            </div>
        </div>  
        <div class="container project-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at sem arcu. Phasellus mollis nisl risus, facilisis mollis ipsum mollis at. Fusce condimentum nisi eu eros maximus, non semper nulla elementum. In sapien elit, interdum at pretium posuere, varius sed massa. Donec sed congue erat. Pellentesque semper dignissim ipsum, quis facilisis dui accumsan bibendum. Etiam ligula ex, aliquam a tristique id, mollis at nisl. Fusce vel lobortis elit, ac sagittis ligula. Mauris scelerisque laoreet justo. Nulla lobortis dui at massa laoreet lobortis.

                    Mauris eget est maximus ex vestibulum sagittis ut ac mi. Sed feugiat metus et neque lobortis vulputate. Quisque posuere turpis eget sem tempor cursus. Vestibulum hendrerit vestibulum ex, in interdum elit mattis mollis. Fusce ac justo fringilla, interdum enim id, pulvinar neque. Etiam aliquet sem ante, sit amet porta lacus facilisis et. Vivamus in leo dictum purus auctor semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras quis neque ac ligula cursus sagittis. Aliquam non venenatis ligula. Donec non turpis lacinia, feugiat velit ut, hendrerit tortor. Cras in leo semper, laoreet diam ut, ullamcorper turpis.
                    
                    Duis vel nunc quis libero hendrerit luctus eget at arcu. Aenean et ullamcorper metus, nec mollis metus. Duis pharetra neque massa, a malesuada erat auctor vel. Vestibulum vel lobortis mauris. Mauris id sapien ullamcorper eros sollicitudin elementum vitae ac ipsum. Sed id quam at magna suscipit luctus sit amet eu orci. Mauris at sodales erat. Fusce fringilla nisl id sodales blandit. Fusce dictum sapien tempus, fringilla mauris quis, semper lectus. Nunc egestas nunc ac rhoncus imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    
                    Maecenas mollis congue nisi, non pharetra dolor luctus non. Curabitur lacinia enim dictum, iaculis quam sed, finibus arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Quisque pulvinar lobortis libero. Donec at erat vitae erat tempus vulputate ut vel enim. Nam feugiat tortor arcu, a posuere mauris auctor eu. In hac habitasse platea dictumst. Ut iaculis venenatis orci. Donec id nisi vehicula massa pellentesque tempor.
                    
                    Nulla lobortis ut lorem ut sodales. Quisque eget risus sit a</p>
        </div>
    </div>
    <section id="footer">
      <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-5 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Molecule Enviro Care</h5>
          <p class="footer-abt">Founded in 1995, MEC is an environmental Engineering Company with the specialization in water and Waste Water management (STP, ETP), particularly for healthcare, hospitality, education, commercial, residential, and industrial pollution control. Headquarter in Kayamkulam on the major towns in between Cochin and Trivandrum of Kerala.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
            <p><i class="fa fa-map-marker fa-1x"></i> Sreepadam,Opp.S.B.I.,Puthiyidom,Kayamkulam, Alappuzha, Kerala 690502</p>
            <p><i class="fa fa-phone fa-1x"></i> +91 9567682232</p>
    
          </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Go To</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">About</a>
            </li>
            <li>
              <a href="#!">Projects</a>
            </li>
            
            <li>
              <a href="#!">Contact</a>
            </li>
            <li>
              <a href="#!">FAQ</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-dribbble fa-2x"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://adityav.in"> Molecule Enviro Care</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
    </section>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/wow.js"></script>
    <script>
    new WOW().init();
    </script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <!-- stats.js -->
    <script src="js/lib/stats.js"></script>

    <script>
      $(document).ready(function() {
        $("#content .owl-carousel").owlCarousel({
          loop: true,
          autoplay: true,
          autoplayTimeout: 2000,
            animateIn: 'fadeInRight',
            navigation:true,
            items:1,
            margin:30,
            stagePadding:30,
            smartSpeed:450,
            dots:true,
            pagination:false,
            navigation:true

        });
      });
    </script>
    <script type="text/javascript">
      (function($) {          
          $(document).ready(function(){                    
              $(window).scroll(function(){                          
                  if ($(this).scrollTop() > 500) {
                      // $('.navbar').fadeIn();
                  } else {
                      // $('.navbar').fadeOut();
                  }
              });
          });
      })(jQuery);
      </script>
  </body>
</html>
