<nav class="navbar navbar-expand-lg navbar-dark  sticky-top circle">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo.jpg" width="60" alt="" style="position:absolute"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/project">Projects</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/contact">Contact</a>
            </li>


    </div>
</nav>
<section id="header2">

</section>

<div id="water">
    <div id="about-us" class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="text-center">WATER TREATMENT TECHNOLOGIES</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12"><h3 class="text-left">ION EXCHANGE</h3></div>
            <div class="col-md-8">
                <p>This is an advanced Technology involved the exchanges of ions between two molecules or compounds.
                    Here water is passed through a column of inert materials often beds of a polymer, which have ionic
                    groups, attached to the surface. There are two types of ion exchanges; cation and anion exchange.
                    The first type, which is used in water softening, has negative surface ions to which anions can
                    cling. Initially Sodium ions are held to the negative groups, but when water containing Calcium ions
                    is poured over the beads, the sodium ions are displaced. The water that comes out contains Sodium
                    ions, but it is no longer hard. Of course, eventually all the available sites are full and no more
                    Calcium ions can be taken up. When this happens the column is flooded with salt water. The deluge of
                    Sodium ions displaces the Calcium</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/a1.png" alt="" width="400">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">REVERSE OSMOSIS</h3></div>
            <hr>
            <div class="col-md-8">
                <p>Its is a membrane-technology filtration method that removes many types of large molecules and ions
                    from solutions by applying pressure to the solution when it is on one side of a selective membrane.
                    The result is that the solute is retained on the pressurized side of the membrane and the pure
                    solvent is allowed to pass to the other side. To be "selective," this membrane should not allow
                    large molecules or ions through the pores (holes), but should allow smaller components of the
                    solution (such as the solvent) to pass freely. In the normal osmosis process, the solvent naturally
                    moves from an area of low solute concentration (High Water Potential), through a membrane, to an
                    area of high solute concentration (Low Water Potential). The movement of a pure solvent to equalize
                    solute concentrations on each side of a membrane generates osmotic pressure. Applying an external
                    pressure to reverse the natural flow of pure solvent, thus, is reverse osmosis. The process is
                    similar to other membrane technology applications. However, there are key differences between
                    reverse osmosis and filtration.

                </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/a2.png" alt="" width="400">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">MICRO FILTRATION</h3></div>
            <hr>
            <div class="col-md-8">
                <p>Microfiltration is a membrane technical filtration process which removes contaminants from a fluid
                    (liquid & gas) by passage through a micro porous membrane. A typical microfiltration membrane pore
                    size range is 0.1 to 10 micro metres (µm). Microfiltration is fundamentally different from reverse
                    osmosis and nano filtration because those systems use pressure as a means of forcing water to go
                    from low pressure to high pressure. Microfiltration can use a pressurized system but it does not
                    need to include pressure.  
                    Microfiltration is the process of filtration with a micro metre sized filter. The filters can be in
                    a
                    submerged configuration or a pressure vessel configuration. They can be hollow fibers, flat sheet,
                    tubular, spiral wound hollow fine fiber or track etched .These filters are porous and allow water,
                    monovalent species (Na+, Cl-), dissolved organic matter, small colloids and viruses through but do
                    not allow particles, sediment, algae or large bacteria through, Microfiltration systems are designed
                    to remove suspended solids down to 0.1 micro metres in size, in a feed solution with up to 2-3% in
                    concentration. It is very suitable for use in place of traditional clarifiers or as a pre-filter to
                    a water recycling/recovery reverse osmosis system.
                </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/a3.png" alt="" width="350">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">ULTRA FILTRATION</h3></div>
            <hr>
            <div class="col-md-8">
                <p>Ultrafiltration (UF) is a variety of membrane filtration in which hydrostatic pressure forces a
                    liquid against a semipermeable membrane. Suspended solids and solutes of high molecular weight are
                    retained, while water and low molecular weight solutes pass through the membrane. This separation
                    process is used in industry and research for purifying and concentrating macromolecular (103 - 106
                    Da) solutions, especially protein solutions. Ultrafiltration is not fundamentally different from
                    microfiltration, nano filtration or gas separation, except in terms of the size of the molecules it
                    retains.   Ultrafiltration is applied in cross-flow or dead-end mode and separation in
                    ultrafiltration undergoes concentration polarization. Ultrafiltration systems eliminate the need for
                    clarifiers and multimedia filters for waste streams to meet critical discharge criteria or to be
                    further processed by wastewater recovery systems for water recovery. Efficient ultrafiltration
                    systems utilize membranes which can be submerged, back-flushable, air scoured, spiral wound UF/MF
                    membrane that offers superior performance for the clarification of wastewater and process water.
                </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/a6.png" alt="" width="400">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">NANO FILTRATION</h3></div>
            <hr>
            <div class="col-md-8">
                <p>Nano filtration is a relatively recent membrane filtration process used most often with low total
                    dissolved solids water such as surface water and fresh groundwater, with the purpose of softening
                    (polyvalent cation removal) and removal of disinfection by-product precursors such as natural
                    organic matter and synthetic organic matter. Nano filtration is also becoming more widely used in
                    food processing applications such as dairy  for simultaneous concentration and partial (monovalent
                    ion ) demineralization.  

                    Nano filtration (NF) is a cross-flow filtration technology which ranges somewhere between
                    ultrafiltration (UF) and reverse osmosis (RO). The nominal pore size of the membrane is typically
                    about 1 nanometre. Nanofilter membranes are typically rated by molecular weight cut-off (MWCO)
                    rather than nominal pore size. The MWCO is typically less than 1000 atomic mass units (daltons). The
                    transmembrane pressure (pressure drop across the membrane) required is lower (up to 3 MPa) than the
                    one used for RO, reducing the operating cost significantly. However, NF membranes are still subject
                    to scaling and fouling and often modifiers such as anti-scalants are required for use.

                </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/a5.png" alt="" width="400">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">ULTRA VIOLET TREATMENT</h3></div>
            <hr>
            <div class="col-md-8">
                <p>Ultra violet treatment is a disinfection method that uses ultraviolet (UV) light at sufficiently
                    short wavelength to kill microorganisms. It is used in a variety of applications, such as food, air
                    and water purification. UV has been a known mutagen at the cellular level for more than one-hundred
                    years. The 1903 Nobel Prize for Medicine was awarded to Niels Finsen for his use of UV against
                    tuberculosis. Application of UV irradiation to purify water was a technique invented by Ashok
                    Gadgil. UVGI utilizes short-wavelength ultraviolet radiation (UV-C) that is harmful to
                    microorganisms. It is effective in destroying the nucleic acids in these organisms so that their DNA
                    is disrupted by the UV radiation

                </p>
                <br>
                <img class="img-responsive" src="assets/img/a8.png" alt="" width="500"><br>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/a7.png" alt="" width="400"><br>

                <img class="img-responsive" src="assets/img/a9.png" alt="" width="400"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">OZONIZATION</h3></div>
            <hr>
            <div class="col-md-6">
                <p>Ozone is the triatomic form of oxygen, this is it is composed of three oxygen atoms.  Ozone's
                    chemical symbol is O3.  Under normal conditions ozone is unstable and quickly decomposed to the more
                    stable gaseous oxygen, O2.  Because ozone is unstable and cannot be stored successfully, it must be
                    generated at the point of application. Most simply, ozone can be generated by passing oxygen, or air
                    containing oxygen, through an area having an electrical discharge or spark. You may have noticed a
                    clean smell in the air after a thunder and lightning storm.   The clean smell was most likely caused
                    by ozone formed by lightning bolts passing through the atmosphere. To generate a sufficient quantity
                    of ozone for a wastewater treatment plant, ozonators developing a corona discharge are used.  These
                    ozonators have two large area metal electrodes separated by a dielectric and an air gap.  An
                    alternating electric current is applied to the electrodes creating an electrical discharge.  At the
                    same time air or oxygen is passed through the air gap. As the air or oxygen flows through the air
                    gap, and the electrical discharge, a portion of the oxygen is converted to ozone.

                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="assets/img/a10.png" alt="" width="400">
                <img class="img-responsive" src="assets/img/a11.png" alt="" width="300">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">ELECTRO CATADIAN PROCESS</h3></div>
            <hr>
            <div class="col-md-6">
                <p>A doss of silver, which varies from 0.05 to 0.1 mg/L, is fed to water with the help of the direct
                    current, which removes all microorganisms.  Silver Iron have the capacity of killing microorganism
                    like bacteria, virus, east and mould. In addition to give the electrolytic dosage of silver iron.
                    Silver imriginated activated carbon also used widely. Being it is costlier compare to process like
                    UV. Electro catadian process is not widely using. Moreover it is a chemical process having recoring
                    cost


                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="assets/img/a18.jpg" alt="" width="200">
            </div>

        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">CHEMICAL TREATMENT</h3></div>
            <hr>
            <div class="col-md-8">
                <p>Chemical treatment includes the application of chemicals to storm water to aid in the reduction of
                    turbidity caused by fine suspended sediment. Chemical treatment can reliably provide exceptional
                    reductions of turbidity and associated pollutants and should be considered where turbid discharges
                    to sensitive wastes cannot be avoided using other BMPs.  Typically, chemical use is limited to
                    waters with numeric

                    Turbidity standards. Acid and alakali s are used for PH correction. Various chemicals are used for
                    the precipitation process which may remove unwanted cataonic and anaonic pollutants from water.
                    Various flocculating agents like poli electrolites alam etc. are used for the miscle formation or
                    flaculation which further can be sediment and removed. Various dis infecting chemicals like liquid
                    Chlorine, Sodium hypo cholride, formal de hide, Hydrogen peroxide etc.. also using. Sodium meta by
                    sulphate is using for de chlorination. Other chemicals are used for the different purpose depends on
                    the type of pollutants to be removed from the raw water.


                </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/a13.png" alt="" width="300">
            </div>
        </div>
    </div>
</div>
</div>
<br><br><br>
<section id="footer">
    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4 footer-index">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-5 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Molecules Enviro Care</h5>
                    <p class="footer-abt">A team of experts from different disciplines of science and technology have
                        joined hands under the leadership of Sri. S Padamsuran to share their expertise in respective
                        field, the outcome is the birth of Molecules Envirocare. Headquarter at Kayamkulam, a major town
                        in between Cochin and Trivandrum of Kerala. We are dedicated ourselves to high intention,
                        sincere efforts, intelligent direction and wise choice of many alternatives. Our efforts are led
                        by a team of experts completely involved in R&D to design and develop new products and
                        techniques in water and waste water management. </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
                    <p><i class="fa fa-map-marker fa-1x"></i> MOLECULES ENVIROCARE, SUKUMARAM, NEAR PUTHUPPALLY NORTH
                        UPS, PUTHUPPALLY P.O., KAYAMKULAM, ALAPPUZHA DIST., KERALA</p>
                    <p><i class="fa fa-phone fa-1x"></i> 0479 2479905, 9447792843</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->

                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Go To</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">About</a>
                        </li>
                        <li>
                            <a href="#!">Projects</a>
                        </li>

                        <li>
                            <a href="#!">Contact</a>
                        </li>
                        <li>
                            <a href="#!">FAQ</a>
                        </li>
                    </ul>


                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <hr>


        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1">
                    <i class="fa fa-facebook fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <i class="fa fa-twitter fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <i class="fa fa-google-plus fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fa fa-linkedin fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1">
                    <i class="fa fa-dribbble fa-2x"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://adityav.in"> Molecules Enviro Care</a>
        </div>
        <!-- Copyright -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="content">
                            <div class="project-image" id="some">
                                <div id="one">
                                    <!--              <img src="assets/img/about-infra.jpg" alt="">-->
                                </div>
                                <!--            <div id="two">-->
                                <!--&lt;!&ndash;              <img src="assets/img/about-infra.jpg" alt="">&ndash;&gt;-->
                                <!--            </div>-->
                                <!--            <div id="three">-->
                                <!--&lt;!&ndash;              <img src="assets/img/about-infra.jpg" alt="">&ndash;&gt;-->
                                <!--            </div>-->
                                <!--            <div id="four">-->
                                <!--&lt;!&ndash;              <img src="assets/img/about-infra.jpg" alt="">&ndash;&gt;-->
                                <!--            </div>-->
                            </div>
                        </div>
                        <div class="container" style="margin-top:30px;">
                            <h3 id="project-header" style="color:black"></h3>
                            <p id="project-content" style="color:black;font-size:15px;"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</section>
-</script>