<nav class="navbar navbar-expand-lg navbar-dark  sticky-top circle">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo.jpg" width="60" alt="" style="position:absolute"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/project">Projects</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/contact">Contact</a>
            </li>


    </div>
</nav>
<section id="header">

</section>
<div id="water">
    <div id="about-us" class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="text-center">About Water</h1>
            </div>
        </div>
        <div class="row">
            <p>
                Water covers 70.9% of the Earth’s surface, and is vital for all known forms of life. On Earth, 96.5% of
                the planet's water is found in oceans, 1.7% in groundwater, 1.7% in glaciers and the ice caps of
                Antarctica and Greenland, a small fraction in other large water bodies, and 0.001% in
                the air as vapor, clouds (formed of solid and liquid water particles suspended in air), and
                precipitation. Only 2.5% of the Earth's water is freshwater, and 98.8% of that water is in ice and
                groundwater. Less than 0.3% of all freshwater is in rivers, lakes, and the atmosphere, and an even
                smaller amount of the Earth's freshwater (0.003%) is contained within biological bodies and manufactured
                products.
            </p>
            <p>
                Water on Earth moves continually through the hydrological cycle of evaporation and transpiration
                (evapotranspiration), condensation, precipitation, and runoff, usually reaching the sea. Evaporation and
                transpiration contribute to the precipitation over land.
            </p>
            <p>Safe drinking water is essential to humans and other life forms. Access to safe drinking water has
                improved over the last decades in almost every part of the world, but approximately one billion people
                still lack access to safe water and over 2.5 billion lack access to adequate sanitation. There is a
                clear correlation between access to safe water and GDP per capital. However, some observers have
                estimated that by 2025 more than half of the world population will be facing water-based vulnerability.
                A recent report (November 2009) suggests that by 2030, in some developing regions of the world, water
                demand will exceed supply by 50%. Water plays an important role in the world economy, as it functions as
                a solvent for a wide variety of chemical substances and facilitates industrial cooling and
                transportation. Approximately 70% of the fresh water used by humans goes to agriculture. Picturing water
                as a liquid that can form two types of structure, one tetrahedral and the other disordered, could
                explain many of its unusual properties. Heating reduces the number of ordered, tetrahedral structures in
                favor of a more disordered arrangement in which molecules are more densely packed. . Water has an
                exceptionally high specific heat capacity. it takes a lot of heat energy to raise water's temperature by
                a given amount. Specific heat capacity is at a minimum at 35 °C but increases as the temperature falls
                or rises, whereas the heat capacity of most other liquids rises continuously with temperature. Water's
                compressibility drops with increasing temperature until it reaches a minimum at 46 °C, whereas in most
                liquids, the compressibility rises continuously with temperature. . Water molecules diffuse more easily,
                not less easily, at higher pressures. Unlike many liquids, water becomes less viscous, not more viscous,
                at higher pressures. . Properties such as viscosity, boiling point and melting point are significantly
                different in "heavy" water - made from the heavier hydrogen isotopes. .The thermal conductivity of ice
                falls with increasing pressure....all these things focus to a point “WATER IS
                PRECIOUS”.....................
            </p>
        </div>


        <div class="row">
            <div class="col-md-12"><h3 class="text-left">1.1 WATER MYTHOLOGY</h3></div>
            <div class="col-md-8">
                <p>Water is so important for all of us as a part of surviving as part of life on this Earth. Ancient
                    civilizations like Indus River Valley, Egyptian, Greek, Native American, etc. have created myths and
                    legends to highlight the importance of this element for us all.  Within Hindu Mythology we hear odes
                    to river goddesses like Ganges; within Roman Mythology Neptune is the Lord of the Seas, Aborigine
                    tribes recall their totemic origins from water spirits, etc. In monotheist religions water
                    constitutes a link with God.  In the Old Testament it is the instrument used by God to punish (the
                    Flood) or save (the Crossing of the Red Sea). And even till now, water is a symbol of purity and
                    rebirth for the Christians, hence the reason for baptizing children in the holy waters. For the
                    Muslims the

                    spring in which Ismaël, son of Abraham and Agar, quenched his thirst has become a holy place. Water
                    unceasingly changes shapes and transforms itself. It is thus a model out of which everything can be
                    born. Water, consequently, becomes a symbol of fertility that can be found in all the myths and all
                    the religions. Beings and things are born of water.  Water also possesses medicinal virtues. Some
                    waters are recognized miraculous powers capable of healing the bodies. It is also a source of
                    purification- for the individual beings but also for the whole of mankind. </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/f1.jpg" alt="" width="400">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">1.2 RELIGIOUS CONCEPTS OF WATER</h3></div>
            <hr>
            <div class="col-md-9">
                <p>Water has a central place in the practices and beliefs of many religions for two main reasons. 
                    Firstly, water cleanses.  Water washes away impurities and pollutants, it can make an object look as
                    good as new and wipe away any signs of previous defilement. Water not only purifies objects for
                    ritual use, but can make a person clean, externally or spiritually, ready to come into the presence
                    of his/her focus of worship.  Secondly, water is a primary building block of life.  Without water
                    there is no life, yet water has the power to destroy as well as to create.  We are at the mercy of
                    water just as we are at the mercy of our God or goddess.  The significance of water manifests itself
                    differently in different religions and beliefs but it is these two qualities of water that underlie
                    its place in our cultures and faiths.
                </p>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="assets/img/f2.png" alt="" width="300">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4 class="text-left">1.2.1Buddhism</h4></div>
            <div class="col-md-9">
                <p>For Buddhists symbolism and ritual is pointless because they seek spiritual enlightenment that comes
                    from seeing the reality of unreality.  Bodhidharma, thought to be the first teacher of Zen Buddhism
                    said this in the 5th Century CE:
                    "This mind is the Buddha.  I don't talk about precepts, devotions or ascetic practices such as
                    immersing yourself in water and fire, treading a wheel of knives, eating one meal a day, or never
                    lying down.  These are fanatical, provisional teachings.  Once you recognise your moving,
                    miraculously aware nature, yours is the mind of all buddhas."
                    Water does however feature in Buddhist funerals where water is poured into a bowl placed before the
                    monks and the dead body.  As it fills and pours over the edge, the monks recite  "As the rains fill
                    the rivers and overflow into the ocean, so likewise may what is given here reach the departed."
                </p>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="assets/img/f3.png" alt="" width="300">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4 class="text-left">1.2.2 Christianity</h4></div>
            <div class="col-md-10">
                <p>Almost all Christian churches or sects have an initiation ritual involving the use of water.  Baptism
                    has its origins in the symbolism of the Israelites being led by Moses out of slavery in
                    Egypt through the Red Sea and from the baptism of Jesus by John the Baptist in the Jordan.  After
                    Jesus' resurrection he commanded his disciples to baptize in the name of the Father, Son, and Holy
                    Spirit (Matthew 28:19-20).  Baptism is regarded differently in different denominations within
                    Christendom. 

                </p>
            </div>
            <div class="col-md-2">
                <img class="img-responsive" src="assets/img/f4.png" alt="" width="200">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4 class="text-left">1.2.3 Hinduism</h4></div>
            <div class="col-md-10">
                <p>Water in Hinduism has a special place because it is believed to have spiritually cleansing powers. 
                    To Hindus all water is sacred, especially rivers, and there are seven sacred rivers, namely the
                    Ganges, Yamuna, Godavari, Sarasvati, Narmada, Sindhu and Kaveri.  Although Hinduism encompasses so
                    many different beliefs among those that most Hindus do share is the importance of striving to attain
                    purity and avoiding pollution.  This relates to both physical cleanliness and spiritual well-being.

                </p>
            </div>
            <div class="col-md-2">
                <img class="img-responsive" src="assets/img/f5.png" alt="" width="200">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4 class="text-left">1.2.4 Islam</h4></div>
            <div class="col-md-9">
                <p>In Islam water is important for cleansing and purifying.  Muslims must be ritually pure before
                    approaching God in prayer.  Some mosques have a courtyard with a pool of clear water in the center,
                    but in most mosques the ablutions are found outside the walls.  Fountains symbolizing purity are
                    also sometimes found in mosques.  In Islam ritual purity (called tahara) is required before carrying
                    out religious duties especially salat (worship).
                    There are three kinds of ablutions.  Firstly, ghusl, the major ablution, is the washing of the whole
                    body in pure water, after declaring the intention to do so.  Muslims are obliged to
                    perform ghusl after sex which incurs a state of major ritual impurity.  Ghusl is also recommended
                    before the Friday prayer, the two main feasts, and before touching the Koran.  Ghusl must be done
                    for the dead before they are buried.

                </p>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="assets/img/f6.png" alt="" width="300">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4 class="text-left">1.2.5 Judaism</h4></div>
            <div class="col-md-10">
                <p> In Judaism ritual washing is intended to restore or maintain a state of ritual purity and its
                    origins can be found in the Torah.  These ablutions can be washing the hands, the hands and the
                    feet, or total immersion which must done in 'living water', i.e. the sea, a river, or a

                    spring   In Temple times ablutions were practiced by priests,.  Priests had to wash their hands and
                    feet before taking part in Temple services.  The ritual washing of hands is performed before and
                    after meals and on many other occasions.
                </p>
            </div>
            <div class="col-md-2">
                <img class="img-responsive" src="assets/img/f7.png" alt="" width="200">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12"><h3 class="text-left">1.3 Concept of pure Water </h3></div>
            <div class="col-md-10">
                <p> Uses of Water As mentioned above without water no life. The nature have given the sufficient water,
                    as
                    we know 3/4th of the earth is nothing but water which can be classified in the following category as
                    per
                    the hydrological cycle.  Surface water and underground water
                    Surface water can be further divided into 

                </p>
                <ul style="text-align:left;font-size:15px;">
                    <li>Rain water </li>
                    <li> River water</li>
                    <li> Lake water</li>
                    <li>Pond
                        water
                    </li>
                    <li>Water from reservoirs</li>
                    <li>Sea water</li>
                </ul>
            </div>
            <div class="col-md-2">
                <img class="img-responsive" src="assets/img/f8.jpg" alt="" width="200">
            </div>
        </div>
        <div class="row">

            <div class="col-md-8">
                <p> Under ground water is one, which remains in the big reservoirs in the deep of the earth of these
                    different sources of water; useful water for human being is generally surface water of which well,
                    ground and spring water are the sources traditionally we use as it does not had much impurities of
                    pollutant. Due to the Urbanization and so called Civilization the preservation of this sources and
                    their maintenance are not done. As a consequences of this, these sources are got the contaminated
                    and polluted and become in such a dangerous situation where usable water for the life to remain on
                    earth become scare.</p>
                <p>Sources of Pollutant The principle sources of water pollutant are </p>
                <ol style="text-align:left;font-size:15px;">
                    <li>Domestic sewage</li>
                    <li>Run
                        off from land and field
                    </li>
                    <li>Suspended particles</li>
                    <li>Atomic explorations</li>
                    <li>Clay and fine
                        particles of soil
                    </li>
                    <li>Industrial waste</li>
                     
                </ol>
                <p>
                      Water Release of large quantity of municipal and domestic
                    waste physically and by drain into the surface water sources is one of the main reasons of water
                    pollutions. Sewage mainly consists of human faeces, urine, excretas, kitchen waste, and street waste
                    and other organic substances become the major nutrients for the pathogenic bacteria, algae, virus
                    etc. This may lead to the both of water borne diseases like cholera, dysentery, typhoid, hookworm
                    infection, hepatitis, epidermal diseases, Malaria etc.  Run off water from land and field include
                    mainly of the residual pesticides and other mineral and Biological substances. These materials are
                    washed out into the rivers and other surface water sources resulting excessive water pollution.
                    Water also may contain inorganic and organic suspended solids, microorganisms like bacteria,
                    viruses, protozoa, algae, and fungi

                    etc. which make the water unusable domestic or industrial purposes. Atomic exploration is another
                    important source of pollution, which creates long lasting problems with the water contamination. The
                    radioactive material near the water sources. Industrial pollution is increasing day-by-day, water
                    from various industries like leather, tanneries, sugar, paper, textile, steel mills, oil refineries,
                    and pharmaceutical industries. 


                </p>

            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/f9.jpg" alt="" width="400">
                <br><br> <br><br>
                <img class="img-responsive" src="assets/img/f10.png" alt="" width="400">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">1.4 USEFUL WATER</h3></div>
            <div class="col-md-8">
                <p> Being water is highly consumed by human being; it becomes a media for the intake of unwanted
                    elements, compounds, substances and microorganisms into the body. Which may lead to very dangerous
                    diseases and fatal accidents. Even from 200 BC this awareness was there. There was lot of
                    description about the method of purifying water in Sanskrit Book (Sushurt Samhitha). In 1880 a
                    chemical section of the American Association appointed a special committee to study out this matter
                    in detail. In 1889 and 1895 this committee were submitted their findings and suggested some standard
                    method for the analysis of water chemically and micro biologically. In 1895 American Public Health
                    Association (APHA) committee has appointed, to draw up procedure for the study of Bacteria in a
                    uniform manner and with special references to the differentiation of species. In 1895 the report has
                    submitted and find out with wide acceptance. In 1899 APHA appointed a committee to constitute a
                    standard for the limits of elements, compounds, substance all microorganisms count etc.. In
                    consumable and harmless water for human being which we called as APHA standard. APHA along with
                    pollution control Federation has revised this standard many times. According to it the possible
                    impurities and its limits in portable water is below.


                </p>

            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/f12.jpg" alt="" width="200">
            </div>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Characteristic</th>
                    <th scope="col">Suggested limit</th>
                    <th scope="col">Cause for rejection</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3"><b>Chemical</b></td>
                </tr>
                <tr>
                    <td>Colour</td>
                    <td>15 units</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Taste</td>
                    <td>Unobjectionable</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Threshold odor number</td>
                    <td>3</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Turbidity</td>
                    <td>5 units</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Alkyl benzene sulfonate</td>
                    <td>0.5</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Arsenic
                    </td>
                    <td>0.01
                    </td>
                    <td>0.05
                    </td>
                </tr>
                <tr>
                    <td>Barium
                    </td>
                    <td></td>
                    <td>1.0
                    </td>
                </tr>
                <tr>
                    <td>Cadmium
                    </td>
                    <td></td>
                    <td>0.01
                    </td>
                </tr>
                <tr>
                    <td>Chloride
                    </td>
                    <td>250
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Chromium
                    </td>
                    <td></td>
                    <td>0.05
                    </td>
                </tr>
                <tr>
                    <td>Copper
                    </td>
                    <td>1</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Carbon chloroform extract
                    </td>
                    <td>0.2</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Cyanide</td>
                    <td>0.01
                    </td>
                    <td>0.2</td>
                </tr>
                <tr>
                    <td>Fluoride
                    </td>
                    <td>0.7-1-2
                    </td>
                    <td>1.4-2.4
                    </td>
                </tr>
                <tr>
                    <td>Iron
                    </td>
                    <td>0.3
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Lead
                    </td>
                    <td></td>
                    <td>0.05
                    </td>
                </tr>
                <tr>
                    <td>Manganese
                    </td>
                    <td>0.05
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Nitrate
                    </td>
                    <td>45.00
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Phenols
                    </td>
                    <td>0.001
                    </td>
                    <td>0.01
                    </td>
                </tr>
                <tr>
                    <td>Selenium
                    </td>
                    <td></td>
                    <td>0.05
                    </td>
                </tr>
                <tr>
                    <td>Silver
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Sulphate</td>
                    <td>250
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Total dissolved solid
                    </td>
                    <td>500
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>zinc</td>
                    <td>5</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">1.5 WATER BORNE DISEASES</h3></div>
            <div class="col-md-12">
                <p> Water flowing over the surface of the earth picks up dirt, disease organisms, chemicals, and
                    anything else in itspath that can be dissolved or moved. Water that soaks into the ground loses many
                    of its suspended impurities, as it filters through the earth. Although the water becomes clearer, it
                    dissolves minerals and other chemicals at the same time. Groundwater may be clear, but it is not
                    pure and may contain harmful disease organisms and chemicals. Waterborne diseases do not appear
                    immediately after drinking contaminated water. Disease-producing organisms need time to grow and
                    multiply inside a person before they cause illness. The time between drinking contaminated water and
                    the appearance of the disease is called the incubation period. Absence of disease symptoms for
                    several days after drinking untreated water is no guarantee that the water is pure. Lack of disease
                    symptoms in the natives is no test either, as they may have become immune. instead, “Impure water is
                    the primary cause of liver disease in India. This coupled with the lack of awareness about
                    vaccination against liver-related diseases is playing havoc with the lives of lakhs of Indians,” Dr
                    Roger F. Butterworth from Canada and Dr Gerald Kircheis from Germany, two leading liver disease
                    experts, told The Tribune here today. “In fact, hepatic encephalopathy - alteration of mental
                    functions which occurs due to liver related diseases - was largely to be blamed on impure water in
                    India, particularly in rural areas,” Dr Butterworth, director of the Neuroscience Research Unit,
                    University of Montreal, Canada.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4 class="text-left">JAUNDICE</h4></div>
            <div class="col-md-8">
                <p> It is also spread through water The main factor to cause Jaundice is HEPATITIS-A Virus. The symptoms
                    for Jaundice are dyspepsia, vomiting, yellowish urine etc. Children and adults are perhaps affected
                    by this disease. In winter season many persons are affected by this disease. 
                </p>
                <h5>METHOD OF SPREADING JAUNDICE </h5>
                <p>This disease spreads through water, stool and urine which contain the virus HEPATITIS-A </p>
                <h5>PREVENTIVE MEASURES: </h5>
                <p>Personal Hygiene is very, very essential to prevent this disease. Wash hands after latrine. Use pure
                    water to drink, pure milk, good food and sanitary methods to be followed to prevent jaundice.  To
                    prevent HEPATITIS-A Immune Globin is used if one is affected by this disease, he should avoid oil,
                    butter, ghee etc. Good rest is essential. Steamed food is better than the fried food for the
                    jaundice affected person. The jaundice persons may intake fruits, vegetables, rice, butter milk in
                    large quantity. Medicines are not necessary. Eclipse plant, a small plant called as “Kizhanelli” are
                    considered to cure the jaundice.  </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/f13.jpg" alt="" width="200">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4 class="text-left">CHOLERA</h4></div>
            <div class="col-md-8">
                <p> It is grievous contagious disease which destroy many lives at a time. 
                </p>
                <h5>SYMPTOMS</h5>
                <ul style="text-align:left;font-size:15px;">
                    <li>Severe Dysentery</li>
                    <li>40 to 50 times dysentery</li>
                    <li>Vomiting</li>
                    <li>Large amount of urine</li>
                    <li>Tiredness</li>
                    <li>Narrow Cheek</li>
                    <li>Dry Tongue </li>
                    <li>Hard respiration</li>
                    <li>Dislocation of muscle</li>
                    <li>Death</li>
                </ul>
                <h5>METHOD OF SPREADING CHOLERA  </h5>
                <p>Cholera virus survive 2 to 3 weeks in water. It is reproduced in milk products. Impure water is the
                    main reason to spread the cholera virus. The affected person should be separated from others. </p>
                <h5>PREVENTIVE MEASURES: </h5>
                <p>The disease can be found out by examining the stool of a person. The affected person should be
                    admitted immediately in hospital. All household goods and cloths should be cleaned with bleaching
                    powder and cresol mixture. </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/f15.jpg" alt="" width="200">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4 class="text-left">AMOEBIC DYSENTERY</h4></div>
            <div class="col-md-8">
                <p> This is caused by the parasite ENDAMOEBA HISTOLYTICA and the affected person suffer from dysentery
                    mixed with blood. 
                </p>
                <h5>PREVENTIVE MEASURES</h5>
                <ul style="text-align:left;font-size:15px;">
                    <li>Pure water</li>
                    <li>Hygiene kitchen habits</li>
                    <li>Eradication of flys </li>
                    <li>Sanitary education to all. </li>
                </ul>

            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/f14.jpg" alt="" width="200">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4 class="text-left">TYPHOID</h4></div>
            <div class="col-md-8">
                <p> It is a kind of fever and caused by a virus. 
                </p>
                <h5>SYMPTOMS</h5>
                <ul style="text-align:left;font-size:15px;">
                    <li> Decreasing body weight</li>
                    <li>Dysentery</li>
                    <li>Stomach pain</li>
                </ul>
                <h5>PREVENTIVE MEASURES</h5>
                <p>Identify the affected person and separate him from others Admit him in hospital, destroy his stool
                    and urine with 5% cresol Preventive medicine should be administered to the adjacent persons Pure
                    water should be given  </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/f16.jpg" alt="" width="200">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4 class="text-left">ASCARIS LUMBRICOIDES: </h4></div>
            <div class="col-md-8">
                <p>Where there is a society which uses human stools as manure then that society is affected by this
                    disease. It is caused by the ASCARIS LUMBRICOIDES which is a long worm used the intestine of the
                    human and came out with human stool and spread to all.

                </p>
                <h5>SYMPTOMS</h5>
                <ul style="text-align:left;font-size:15px;">
                    <li> Dry Cough</li>
                    <li>Fever</li>
                    <li>Itch</li>
                    <li>Dyspepsia</li>
                    <li>Stomach pain</li>
                    <li>Block in small intestine </li>
                </ul>
                <h5>PREVENTIVE MEASURES</h5>
                <ul style="text-align:left;font-size:15px;">
                    <li>Drink pure water</li>
                    <li> Separate latrine</li>
                    <li>Curable medicine</li>
                    <li>Sanitary education </li>
                </ul>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/f17.png" alt="" width="200">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h4 class="text-left"> ANTERIOR POLIOMYELITIES </h4></div>
            <div class="col-md-8">
                <p>It is spread by a virus and mostly affects children and a grievous contagious disease. First it
                    affect the small intestine then nervous system. Hence the affected persons becomes handicapped.
                </p>
                <h5>SYMPTOMS</h5>
                <ul style="text-align:left;font-size:15px;">
                    <li>Fever</li>
                    <li>Tired</li>
                    <li>Pain in legs and hands</li>
                    <li>Paralysis in hand and leg </li>
                </ul>
                <h5>PREVENTIVE MEASURES</h5>
                <p>Preventive medicine should be administered to every child from birth as per the instruction of the
                    doctor.  </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="assets/img/f18jpg" alt="" width="200">
            </div>
        </div>
        <div class="row">
            <h3>Water Peculiarities</h3>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">1.6.2 Water is Di-polar</h3></div>
            <hr>
            <div class="col-md-9">
                <p>The water molecule is formed by the bonding of oxygen atom with hydrogen atom by covalent with bond
                    angle 104.5 degree. In which the oxygen atom is placed in the vertex and Hydrogen atoms are at the
                    tips. Since oxygen is highly electro negativity (2.5) on pouling scale. The bonded electron pairs
                    will remain more close to Oxygen atom, which result in the formation of delta positive charge in
                    hydrogen atom and delta negative charge in oxygen atom. This kind of charge formation within a
                    nucleus is called di-pole. The di-polar nature of water becomes the reason of intermolecular
                    attraction. In addition to the intermolecular attraction of other polar molecules. The feable bridge
                    bond formed between the hydrogen atoms of one molecule with oxygen atom of adjacent molecules is
                    called hydrogen bonding. This hydrogen bonding makes one molecule connect strongly with other
                    molecule that’s why water is a liquid and this exceptional character of water makes it very
                    different from any other molecules or compounds.

                </p>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="assets/img/f19.jpg" alt="" width="300">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">1.6.2 Water as a Solvent</h3></div>
            <hr>
            <div class="col-md-9">
                <p>Water is good solvent due to its polarity. This solvent property of water is vital in biology. We
                    know the all Bio-chemical reactions occur within aqueous solutions. Due to solvent properties of
                    water, it became a good transport media of biological molecules also when an ionic or polar
                    molecules entered in water it is surrounded by water molecules, due to relatively small size of
                    water molecules it typically allows many water molecules to surround one molecules of solute. The
                    partially negative di-poles of water attract the positively charged components of the solute vice
                    versa. This is the reason by the most of the electrovalent compounds or ionic compounds are soluble
                    in water. We can see no polar substance like facts; oil does not dissolve in water they stay
                    together, in water because it is energetically more favorable for the water molecules to hydrogen
                    bond to each other than van der wall’s attraction with non-polar molecules.

                </p>
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="assets/img/f2.png" alt="" width="300">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">1.6.3 Conductivity</h3></div>
            <hr>
            <div class="col-md-10">
                <p>Very interesting think in water if it is charged molecule (di-polar) water itself is a insulator.
                    That is does not conduct electricity well. Being a good solvent always it may contain some solute.
                    In that case with some impurities it conducts electricity well.
                    Notwithstanding the difficulty of theoretical interpretation, measured conductivity is a good
                    indicator of the presence or absence of conductive ions in solution, and measurements are used
                    extensively in many industries.[27] For example, conductivity measurements are used to monitor
                    quality in public water supplies, in hospitals, in boiler water and industries which depend on water
                    quality such as brewing. This type of measurement is not ion-specific; it can sometimes be used to
                    determine the amount of total dissolved solids (T.D.S.) if the composition of the solution and its
                    conductivity behavior are known.[1] Conductivity measurements made to determine water purity will
                    not respond to non conductive contaminants (many organic compounds fall into this category),
                    therefore additional purity tests may be required depending on application.

                    Sometimes, conductivity measurements are linked with other methods to increase the sensitivity of
                    detection of specific types of ions. For example, in the boiler water technology, the boiler
                    blowdown is continuously monitored for "cation conductivity", which is the conductivity of the water
                    after it has been passed through a cation exchange resin. This is a sensitive method of monitoring
                    anion impurities in the boiler water in the presence of excess cations (those of the alkalizing
                    agent usually used for water treatment). The sensitivity of this method relies on the high mobility
                    of H+ in comparison with the mobility of other cations or anions. Beyond cation conductivity, there
                    are analytical instruments designed to measure Degas conductivity, where conductivity is measured
                    after dissolved carbon dioxide has been removed from the sample, either through reboiling or dynamic
                    degassing.

                    Conductivity detectors are commonly used with ion chromatography.[28]
                    The electrical conductivity of a solution of an electrolyte is measured by determining the
                    resistance of the solution between two flat or cylindrical electrodes separated by a fixed
                    distance.[3] An alternating voltage is used in order to avoid electrolysis.[citation needed] The
                    resistance is measured by a conductivity meter. Typical frequencies used are in the range 1–3 kHz.
                    The dependence on the frequency is usually small,[4] but may become appreciable at very high
                    frequencies, an effect known as the Debye–Falkenhagen effect.


                </p>
            </div>
            <div class="col-md-2">
                <img class="img-responsive" src="assets/img/f20.jpg" alt="" width="300">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h3 class="text-left">1.6.3 Reactivity</h3></div>
            <hr>
            <div class="col-md-10">
                <p>Chemically water is amphoteric material capable to act as an acid or base. Its PH remains 7.in some
                    cases water act as an acid in chemical reaction in that case occasionally called as Hydroxyl acid.
                    And at neutral PH of 7 the concentration of OH ions is almost equal to that of Hydronium ions. When
                    this equilibrium is disturbed water become either acidic or basic.

                </p>
            </div>
            <div class="col-md-2">
                <img class="img-responsive" src="assets/img/f21.png" alt="" width="300">
            </div>
        </div>

    </div>
</div>
</div>
<br><br><br>
<section id="footer">
    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4 footer-index">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-5 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Molecules Enviro Care</h5>
                    <p class="footer-abt">A team of experts from different disciplines of science and technology have
                        joined hands under the leadership of Sri. S Padamsuran to share their expertise in respective
                        field, the outcome is the birth of Molecules Envirocare. Headquarter at Kayamkulam, a major town
                        in between Cochin and Trivandrum of Kerala. We are dedicated ourselves to high intention,
                        sincere efforts, intelligent direction and wise choice of many alternatives. Our efforts are led
                        by a team of experts completely involved in R&D to design and develop new products and
                        techniques in water and waste water management. </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
                    <p><i class="fa fa-map-marker fa-1x"></i> MOLECULES ENVIROCARE, SUKUMARAM, NEAR PUTHUPPALLY NORTH
                        UPS, PUTHUPPALLY P.O., KAYAMKULAM, ALAPPUZHA DIST., KERALA</p>
                    <p><i class="fa fa-phone fa-1x"></i> 0479 2479905, 9447792843</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->

                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Go To</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">About</a>
                        </li>
                        <li>
                            <a href="#!">Projects</a>
                        </li>

                        <li>
                            <a href="#!">Contact</a>
                        </li>
                        <li>
                            <a href="#!">FAQ</a>
                        </li>
                    </ul>


                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <hr>


        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1">
                    <i class="fa fa-facebook fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <i class="fa fa-twitter fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <i class="fa fa-google-plus fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fa fa-linkedin fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1">
                    <i class="fa fa-dribbble fa-2x"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://adityav.in"> Molecules Enviro Care</a>
        </div>
        <!-- Copyright -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="content">
                            <div class="project-image" id="some">
                                <div id="one">
                                    <!--              <img src="assets/img/about-infra.jpg" alt="">-->
                                </div>
                                <!--            <div id="two">-->
                                <!--&lt;!&ndash;              <img src="assets/img/about-infra.jpg" alt="">&ndash;&gt;-->
                                <!--            </div>-->
                                <!--            <div id="three">-->
                                <!--&lt;!&ndash;              <img src="assets/img/about-infra.jpg" alt="">&ndash;&gt;-->
                                <!--            </div>-->
                                <!--            <div id="four">-->
                                <!--&lt;!&ndash;              <img src="assets/img/about-infra.jpg" alt="">&ndash;&gt;-->
                                <!--            </div>-->
                            </div>
                        </div>
                        <div class="container" style="margin-top:30px;">
                            <h3 id="project-header" style="color:black"></h3>
                            <p id="project-content" style="color:black;font-size:15px;"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</section>
-</script>