/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,
body {
  width: 100%;
  height: 100%;
  font: normal 75%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% "Raleway", sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
div.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.45),0 6px 20px 0 rgba(0, 0, 0, 0.32) !important ;
}
.card .btn{background-color:#008cd3 }
#scroll .card{
  background-color:#f0f8ff80
}
.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */

#particles-js {
  margin-top:-50px;
  width: 100%;
  height: 100vh;
  background-image: url("../img/b3.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
section {
  height: 100vh;
}
#mission{
  height:120vh
}
#about {
  padding: 200px 0px 20px 0px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../img/bg-pattern.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about h1 {
  font-weight: bolder;
  color: #189fc2;
  font-variant: small-caps;
}
#about h1::before {
  content: " ";
  background-color: red;
  width: 10px;
  position: absolute;
}
#about h1 span {
  opacity: 0.7;
  font-weight: lighter;
}
.about-p {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 40px;
  opacity: 0.7;
  margin: 20px 0px 10px 0px;
  text-align: justify;
}
#mission {
  padding: 100px 0px 20px 0px;
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    rgb(168, 204, 251),
    rgb(251, 251, 251)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    rgb(168, 204, 251),
    rgb(253, 253, 253)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#mission li {
  font-size: 17px;
  padding-top: 30px;
}
#mission ul {
  list-style-image: url("../img/icon.png");
}
#mission h3 {
  padding-left: 40px;
  text-decoration: underline;
  font-weight: bolder;
  opacity: 0.6;
}
.fancy2 {
  /* box-shadow: 0px 7px 5px -2px rgba(0, 0, 0, 0.3); */
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.295);
  opacity: 0.8;
}
.fancy2 li{
  line-height:25px;
  font-size:16px !important;
}
.read-more {
  margin-top: 10px;
  border: 0.5px solid black;
  background-color: transparent;
  float: right;
}
#scroll {
  background: -webkit-linear-gradient(
    to top,
    rgb(168, 204, 251),
  rgb(168, 204, 251)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,  rgb(168, 204, 251),  rgb(168, 204, 251));
  height: 60vh;
}
#scroll .owl-carousel div {
  height: 350px;
}
.test {
  background-color: rgb(240, 243, 248);
  width: 16rem !important;
}
.card-img-top{
  height:200px;
  width:auto;
}
#footer {
  height: 45vh;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgb(53, 125, 219), rgb(53, 125, 219));
  color:white;
}
.footer-index{
  background: -webkit-linear-gradient(
        to top,
        rgb(168, 204, 251),
        rgb(168, 204, 251)
)!important;}

#footer a{color:white;}
.footer-abt{
  text-align:justify;
}
#footer ul li{
  padding:3px;
}
nav li{
  font-size:15px !important;
}
#header{
  height:50vh;
  background-image: url("../img/back.JPG");
  background-size: 1500px 400px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
}
#about-us{

}
#about-us h1{
  margin-top:40px;
  border-bottom:5px solid rgba(128, 128, 128, 0.404);
  width:75%;
}
#about-us h1::first-letter{
  font-size:60px;
  color:rgb(53, 125, 219);
} 
#about-us h3::first-letter{
  font-size:40px;
  color:rgb(53, 125, 219);
} 
#products h2::first-letter{
  font-size:40px;
  color:rgb(53, 125, 219);
} 
#products h2{
  margin-top:40px;
  border-bottom:5px solid rgba(128, 128, 128, 0.404);
  width:15%;
  margin-bottom:50px;
  margin-left:20px;
}
.about-us{
  font-size:18px;
  text-align:justify;
  line-height:30px;
}
.infra p{
  opacity:0.7;
  font-size:16px;
}
.about-infra{
  margin-left:40px;
  opacity:0.8;
}
.with-bg{
  background-color:rgba(27, 113, 226, 0.671) !important;
    color: white;
}
#about-us .card{
  margin-left:80px;
  margin-top:30px;
}
 .contact-form {
  width: 100%;
  margin-left: 2%;
  float: left;
}
 .contact-form .title {
  font-size: 2.5em;
  font-family:  "Raleway", sans-serif;
  font-weight: 700;
  color: #242424;
  margin: 5% 8%;
}
 .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}
 .contact-form input,
 .contact-form textarea {
  width: 90%;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}
 .contact-form input::placeholder,
 .contact-form textarea::placeholder {
  color: #242424;
}
 .contact-form .btn-send {
  background: rgb(53, 125, 219);
  width: 180px;
  height: 60px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}
.navbar-brand{
  text-shadow: 2px 2px 4px #000000 !important
}
div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.navbar{
  background-color:#008cd3;!important;}
@media only screen and (max-width: 600px) {
  .card-img-top{
    height:auto;
    width:100%!important;
  }
  .card-horizontal{
    flex-direction: column !important;
    display: flex !important;
  }
  .navbar{
  background-color:#008cd3;!important;}
  .about-p{
    font-size:10px;
    line-height:25px;
  }
  .fancy2 li{
    font-size:10px!important;
  }
  .fancy2{
    margin-top:50px;
    width:100% !important
  }
  .res{
    display:block;
  }
  #mission{
    height:310vh;
  }
  #footer{
    height:120vh;
  }
  .about-us{
    font-size:13px;
    margin:10px;
  }
  .about-infra{
    margin:0px;
  }
  #about-us .card{margin-left:40px;}
  #products{
    margin:10px 0px 20px 40px;
  }
  .map iframe{
    margin-top:20px;
    width:100%;
  }
  .contact-form input{
    margin-left:0px;
  } 
  .contact-form textarea{
    margin-left:0px;
  }
  .btn-send{
    margin-left:0px !important;
  }
  .hovereffect img {
    width:100% !important;
  }
  .hovereffect a.info {
    margin-top:20px;
  }
}


a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
  float:right;
  margin-top:30px;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #ffab9d;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}
.btn-primary:hover{
  background-color: transparent;
  border-radius:5px;
  border:1px solid rgb(75, 129, 232);
  color:rgb(75, 129, 232)

}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.circle ul li a:hover:after {
  -webkit-animation: circle .5s ease-in forwards;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: rgb(83, 161, 235);
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
  }
}
.project-content{
  font-size:14px;
  line-height:30px;
  text-align: justify;
  text-indent:100px;
  letter-spacing: 1.1px;
  margin-top:20px;
}
.project-content::first-letter{
  font-size:30px;
  font-weight: bolder;
}
.project-image{
  margin-top:30px;
}

/* .owl-dots {
  text-align: center;
  position: fixed;
  bottom: 20px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.owl-dot {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127,127,127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

.owl-dot.active {
  background: rgba(127,127,127, 1);
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
} */
.card-img-top{height:200px;}
.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
  margin-top:16px;
}
.hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
}

.hovereffect img {
  display:block;
  width:150px;
  position:relative;
  -webkit-transition:all .2s linear;
  transition:all .4s linear;
}

.hovereffect h2 {
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(0,0,0,0.6);
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  padding:10px;
}

.hovereffect a.info {
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color:transparent;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:50px 0 0 ;
  padding:7px 14px;
}

.hovereffect a.info:hover {
  box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  width:150px;
}

.hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay:.2s;
  transition-delay:.2s;
}

/*Some*/

svg {
  display: block;
  overflow: visible;
}
.slider-container {
  position: relative;
  height: 100%;
  user-select: none;
  cursor: all-scroll;
}
.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}
.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  transform: translate(-50%, -50%) scale(1);
}
.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  transition: transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  transition: transform 0.5s;
  will-change: transform;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay, .slide.active .slide__text {
  opacity: 1;
  transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url('../img/b1.jpg');
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #00a2de;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(233, 156, 126, 1);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url('../img/b2.jpg');
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #00a2de;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(225, 204, 174, 1);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url('../img/b3.JPG');
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #00a2de;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(173, 197, 205, 1);
  }
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url('../img/b4.jpg');
}
.slide:nth-child(4) .slide__overlay-path {
  fill: #00a2de;
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 1);
  }
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  will-change: transform, opacity;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 1;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 12%;
  left: 3%;
  color: #fff;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  will-change: transform, opacity;
  transform: translateY(-50%);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    transform: translateY(50%);
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    padding: 0 1rem;
    display: none;
  }
}
.slide__text-heading {
  font-family:  "Raleway", sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 2.5rem;
  }
}
.slide__text-desc {
  font-family:  "Raleway", sans-serif;
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
  line-height:22px;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform-origin: 50% 100%;
  transform: rotateX(-85deg);
  transition: transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  transform: rotateX(0);
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
/*Loader*/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
/*Scrol*/
.ribbon {
  background-color: #c9dffd;
  fill: #a8ccfb;
  position: relative;
  line-height: 40px;
  padding: 0 20px;
  font-family: "Raleway", sans-serif;
  color: #5a697c;
  font-weight: 100;
  margin-bottom: 10px;
  font-size:13px;
}

.fold {
  position: absolute;
  border-style: solid;
}
.fold.top {
  top: 0;
}
.fold.top.left {
  left: 0;
  border-width: 12px 12px 0 0;
  border-color: #bdd8fc #085469 #a8ccfb #a8ccfb;
}
.tab-content>.active {
  display: flex !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #367cdc !important;
}
.about-what{
  opacity:0.8;
  font-size:12px!important;
}
.about-what img {
  margin-top:5px;
}
#water p{
  font-size:15px;
  text-align:justify;
  line-height: 25px;
}
#water h5{
  text-align:left
}
#water h4{
  border-bottom:1px solid grey
}